{% extends 'template.html' %}
{% load static %}


{% block navigation %}
    <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home_index' %}">
                <img src="{% static 'img/user_icon.svg' %}" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
                <span class="navbar-text">{{ wialon_user }}</span>
            </a>

            <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'fuel_report_for_all' %}">Отчет</a></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home_index' %}">Link</a></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home_index' %}">Link</a></a>
                </li>
                
            </ul>
            </div>
        </div>
{% endblock navigation %}


{% block content %}
    {% if "error" not in devices %}
        <div class="row">
            {% for key, device in devices.items %}
                <div class="col-sm-4">
                    <div class="card m-1">
                        <div class="card-body">
                            <h5 class="card-title">{{ device.id }}</h5>
                            <p class="card-text">{{ device.name }}</p>
                            <a href="{% url 'sensors' device.id %}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% else %}
        <div></div>
    {% endif %}
        </div>
{% endblock %}


{% block js_scripts %}
    <script>
        async function query_wialon_get_last_events()
        {
            let response = await fetch( '/api/wialon/get_last_events/' );
            let data = await response.json();
            
            if ('error' in data) {
                let response = await fetch( 'logout/' );
                window.location.reload();
            }

            setTimeout(query_wialon_get_last_events, 120000);
        }

        window.addEventListener('load', (event) => {
            query_wialon_get_last_events();
        });

        

    </script>
{% endblock js_scripts %}
