{% extends 'header.html' %}
{% load static %}


{% block content %}
    {% if "error" not in devices %}
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {% for key in devices.keys %}
                    <a href="#{{ key }}" class="btn btn-outline-primary">{{ key }}</a>
                {% endfor %}
            </div>
        </div>

        {% for key, device in devices.items %}
            <div id="{{ key }}">
                <h4 class="mt-3">{{ key }}</h4>
                <div class="row">
                    {% for device_key, device_value in device.items %}
                    <div class="col-sm-3">
                        <div class="card m-1">
                            <div class="card-body">
                                <h5 class="card-title">{{ device_value.id }}</h5>
                                <p class="card-text">{{ device_value.name }}</p>
                                <a href="{% url 'report' device_value.id %}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div></div>
    {% endif %}

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </div>
    
{% endblock %}

{% block js_scripts %}
    <script>
        async function query_wialon_get_last_events()
        {
            let response = await fetch( '/api/wialon/get_last_events/' );
            let data = await response.json();
            
            if ('error' in data) {
                let response = await fetch( 'logout/' );
                window.location.reload();
            }

            setTimeout(query_wialon_get_last_events, 120000);
        }

        window.addEventListener('load', (event) => {
            query_wialon_get_last_events();
        });

        // Кнопка "Наверх"
        let mybutton = document.getElementById("btn-back-to-top");

        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
{% endblock js_scripts %}