a {
    text-decoration: none;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px; 
}
